.page.theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --accent-color-second: #ff007066 ;
  --focus-color: #DB00FF;
  --shadow-color: #ff0070;
  --title-color: #000028;
  --corner-color: #ff0070;
  --hover-color: #ff007066;
  --bg-image: url(../images/cover-image-dark.png);
  
}

.theme_dark .decorated {
  display: block;
}

