.page.theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --accent-color-second: #ff007066 ;
  --focus-color: #DB00FF;
  --shadow-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --corner-color: #ff0070;
}

.theme_dark .decorated {
  display: block;
}

.theme_dark .title {
  color: var(--bg-color);
}

.theme_dark .content-title {
  color: var(--accent-color);
}

.theme_dark .title-decor {
  color: var(--bg-color);
}

.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme_dark .header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-second);
}

.theme_dark .header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}
