.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --text-color-second: #32312D66;
  --accent-color: #FF8DCB;
  --focus-color: #FFC2E6;
  --shadow-color: #FF0070;
  --title-color: #353430;
  --corner-color: #353430;
  --hover-color: #32312D66;
  --bg-image: url(../images/cover-image-light.png); 
}

.theme_light .page {
  background-image: var(--bg-image);
  background-color: var(--bg-color, #fff1f7);
}

.theme_light .decorated {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --text-color-second: #32312D66;
  --accent-color: #FF8DCB;
  --focus-color: #FFC2E6;
  --shadow-color: #FF0070;
  --title-color: #353430;
  --corner-color: #353430;
  --hover-color: #32312D66;
  --bg-image: url(../images/cover-image-light.png);
}


.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color, #fff1f7);
}

.decorated {
  display: none;
}
}