.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --text-color-second: #32312d66;
  --accent-color: #ff8dcb;
  --focus-color: #ffc2e6;
  --shadow-color: #ff0070;
  --title-color: #353430;
  --corner-color: #353430;
  --hover-color: #32312d66;
  --bg-image: url(../images/cover-image-light.png);

  background-image: var(--bg-image);
  background-color: var(--bg-color, #fff1f7);
}

.theme_light .decorated {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
      --bg-color: #fff1f7;
      --text-color: #353430;
      --text-color-second: #32312d66;
      --accent-color: #ff8dcb;
      --focus-color: #ffc2e6;
      --shadow-color: #ff0070;
      --title-color: #353430;
      --corner-color: #353430;
      --hover-color: #32312d66;
      --bg-image: url(../images/cover-image-light.png);

      background-image: var(--bg-image);
      background-color: var(--bg-color, #fff1f7);
  }

  .decorated {
      display: none;
  }
}